@model MobileStoreFeatureFlags.Models.Mobile
@{
    ViewData["Title"] = "Mobile Detailed Review";
}
<h1>@ViewData["Title"]</h1>

<br />

<div class="my-3">
    <a class="btn btn-primary" asp-controller="Mobiles" asp-action="Index">Back</a>
</div>

<table class="table table-responsive table-hover">
    <tr>
        <td><span style="font-weight:bold">Id</span></td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td><span style="font-weight:bold">Name</span></td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td><span style="font-weight:bold">Specifications</span></td>
        <td>@Model.Specification</td>
    </tr>
    <tr>
        <td><span style="font-weight:bold">Rating</span></td>
        <td>@Model.MobileReview.Rating</td>
    </tr>
    <tr>
        <td><span style="font-weight:bold">Review</span></td>
        <td>@Model.MobileReview.Remarks</td>
    </tr>
</table>